{% extends "layout.html" %}
{% block content %}
  <h1>Menu</h1>
  <ul>
    <li><a href="{{ url_for('connect') }}">Connect to Me</a></li>
    <li><a href="{{ url_for('share_files') }}">Share Files</a></li>
    <li><a href="{{ url_for('generic_processing') }}">Generic Processing</a></li>
    <li><a href="{{ url_for('PPK_processing') }}">PPK Processing</a></li>
    <li><a href="{{ url_for('CSDP_processing') }}">CSDP Processing</a></li>
    <li><a href="{{ url_for('Image_processing') }}">Image Processing</a></li>
    <li><a href="{{ url_for('delete_empty_processing') }}">Delete Distance From Centerline</a></li>
    <li><a href="{{ url_for('culvert_processing') }}">Culvert Processing</a></li>
    <li><a href="{{ url_for('play_movie') }}">Watch Movie</a></li>
    <li><a href="{{ url_for('talk_to_assistant') }}">Talk to My Assistant</a></li>
  </ul>
{% endblock %}