/* Define a more elegant light mode with softer colors and artistic design */
/* white:#f3f5f5, blue:#cfd8de, gray:#929393, box:#4054b2, black:#17191f */
body {
  background-color: #f3f5f5; /* White */
  color: #17191f; /* Dark Gray */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #929393; /* Blue */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Softer shadow */
}

nav a {
  color: #f3f5f5; /* White */
  margin-right: 15px;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #d3eaf7; /* Light Blue */
}

.container {
  flex: 1;
  padding: 20px;
  max-width: 600px; /* Change this to make the container wider */
  width: 90%; /* Add this to ensure it is responsive */
  margin: 20px auto;
  background-color: #cfd8de; /* Very Light Blue */
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Softer shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* white:#f3f5f5, blue:#cfd8de, gray:#929393, box:#4054b2, black:#17191f */
/* Menu word color */
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #17191f; /* Blue */
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

ul li {
  margin: 10px 0;
}
/* The box of menu items */
ul li a {
  color: #17191f;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #f3f5f5;
  border-radius: 5px;
}
/* white:#f3f5f5, blue:#cfd8de, gray:#929393, box:#4054b2, black:#17191f */
ul li a:hover {
  color: #4054b2;
  background-color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form div {
  margin-bottom: 15px;
}

label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

/* white:#f3f5f5, blue:#cfd8de, gray:#929393, box:#4054b2, black:#17191f */
input[type="text"], input[type="file"], input[type="password"] {
  padding: 10px;
  border: 1px solid #f3f5f5; /* Light Gray */
  border-radius: 5px;
  font-size: 1em;
  background-color: #ffffff; /* White */
  color: #17191f; /* Dark Gray */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); /* Softer shadow */
  width: 96%;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #4054b2; /* Blue */
  color: #f3f5f5; /* White */
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  margin: 20px;
}

input[type="submit"]:hover {
  background-color: #3c4ea0; /* Light Blue */
}

.flashes {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.flashes li {
  background-color: #f3f5f5; /* Very Light Blue */
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
/* white:#f3f5f5, blue:#cfd8de, gray:#929393, box:#4054b2, black:#17191f */

.back-to-menu {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #4054b2; /* Blue */
  color: #f3f5f5; /* White */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  position: absolute;
  right: 30%;
  bottom: 83%;
}

.back-to-menu:hover {
  background-color: #412bec; /* Light Blue */
}

.file-list {
  max-height: 300px; /* Set the height as needed */
  overflow-y: auto;
  width: 100%;
  padding: 0;
}
