<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Files</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header">
                        <h3>Available Files</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for file in files %}
                                <li><a href="{{ url_for('download_raw_data', filename=file) }}">{{ file }}</a></li>
                            {% endfor %}
                        </ul>
                        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Index</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
